.home {
  height: 100vh;
  background: #f4f6f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-group {
  margin-top: 20px;
}

.btn-group button {
  width: 200px;
  margin: 10px;
  padding: 12px;
  font-size: 16px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-group button:hover {
  background: #125aa0;
}
